@tailwind base;
@tailwind components;
@tailwind utilities;  

.history-container {
    @apply overflow-y-auto; /* Allow vertical scrolling */
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: transparent transparent; /* For Firefox */
  }
  
  /* For WebKit browsers (Chrome, Safari, etc.) */
  .history-container::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  
  .history-container::-webkit-scrollbar-thumb {
    background: transparent;
  }